{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


    <h2>Formulaire Picture avec API</h2>

    <div id="newForm">
        {{ form(form) }}
    </div>

{% endblock %}
