{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <form id="loginForm">
        <input id="idfiche" type="text" placeholder="id de la fiche à consulter"/>
        <button id="submitForm" type="submit">Afficher les infos</button>
    </form>
    <div id="divInfos">
        <p>id : <span id="id"></span></p>
        <p>title : <span id="title"></span></p>
        <p>image : <span id="image"></span></p>
        <p>geolocalisation : <span id="geolocalisation"></span></p>
        <p>comment : <span id="comment"></span></p>
    </div>
{% endblock %}
